*{
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #b9b9b9;
    font-size: 1rem;
}
.bg-transparent{
    background: transparent;
}
.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.hero{
    position: relative;
    width: 100%;
    background-image: url('/images/hero-bg-1.jpg');
    display: block;
    background-color: rgba(130, 63, 130, 0.914);
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
}
.hero::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
}
nav ul{
    list-style: none;
}
li a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    margin-left:  15px;
    font-size: 16px;
    color: rgb(212, 210, 210);
}
li a:hover{
    color: rgb(255, 255, 255);
    transition: all 0.5s ease-in-out;
}
.links{ display: flex;
    font-size: 14px;
    font-weight: 400;
}
.dydis{
    position: relative;
    max-width: 1139px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
}
.flex{
    display: flex;
}
.space-between{
justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.padding-top{
    padding-top: 100px;
    padding-bottom: 100px;
}
.logo img{
    width: 120px;
    padding-top: 18px;
}
/* Heroo css */
.sp-text{
   text-transform: uppercase;
   font-size: 1rem;
   margin-bottom: 5rem;
}
.kaire-hero{
    width: 60%;
    padding-left: 15px;
    padding-right: 15px;
}
.kaire-hero h1{
    font-size: 46px;
    font-weight: 700;
    margin-top: 10px;
}
.button-hero{
    text-decoration: none;
    border: 1px solid;
    padding: 11px 25px;
    border-radius: 35px;
    font-size: 18px;
    font-weight: 550;
    color: white;
}
.button-hero:hover{
    background-color: white;
    color: rgb(163, 65, 163);
    transition: all 0.2s ease-in ;
}
.kaire-hero p{
    margin-bottom: 50px;
}
.hero-img{
    width: 40%;
}


/* Counter CSS starts */
.counter{
    position: relative;
    z-index: 6;
    list-style: none;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 30px 80px;
    border-radius: 6px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.12);
    bottom: -60px;
    text-align: center;
}
.counter span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #9629e6;
    font-weight: bold;
    font-size: 25px;
    line-height: 28px;
}
.counter h6{
    color: black;
    font-weight: 500;
    font-size: 1rem;
    margin: 8px 0;
}
.counter ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.counter ul div{
padding: 0 20px;
}
/* Counter CSS ENDS */
/* PROMO CSS */
.promo{
    padding-bottom: 120px;
}
.promo-header{
    margin-top: 45px;
    padding: 100px 0 45px 0;
    width: 50%;
}
.promo-korta{
    padding: 1.5rem;
    text-align: left;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1 1 auto;
    border: 1px solid #eff2f7;
    border-radius: 1rem;
    transition: all .2s ease;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.12);
    color: black;
    margin: 0 20px;
  }
.promo-korta:hover{
    background-color: #9629e6;
    color: white;
    top: -10px;
    box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.12);
}
.icon{
    color: #9629e6;;
  }
  .promo-korta:hover .icon{
    color: white;
  }
/* PROMO CSS ENDS */
/* CSS taisykles headingu paragrafau */
.pink-span{
    color: #9629e6;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
.heading{
    color: black;
    font-size: 38px;
    margin: 5px 0 0 0;
    font-weight: 900px;
}
.paragrafas{
    font-size: 15px;
    font-weight: 400;
    color: rgb(112, 112, 112);
}
li p.paragrafas{
    margin: 8px 0;
    font-size: 15px;
}
/* About CSS START */
.about{
    background-color: #f4f7fa;
}
.about-left{
width: 41%;
}
.about-right{
width: 40%;
}
ul.about-ul{
    padding-left: 0px;
}
.icon{
    color: rgb(76, 76, 228);
    margin-right: 10px;

}

/* About CSS ENDS */
/* FEATURES CSS START */
.features-top{
text-align: center;
flex-direction: column;
justify-content: center;
align-items: center;
}
.features-top p{
    width: 700px;
}
.features-bot{
    margin: 40px 0 0 0;
}
.features-box{
text-align: center;
flex-direction: column;
justify-content: center;
align-items: center;
}
.features-box img{
    padding: 0 30px;
}
.f-icon{ 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 18px;
    margin-right: 10px;
}
.picon{
    background-color: #efdff7;
    color: #bb8cce;
}
.aicon{  background-color: #c6e6fd;
    color: #68b2e4;

}
.ticon{
    color: #ed7265;
    background-color: #efe3e3;
}
.kicon{
    background-color: #ddedea;
    color: #6bdcc6;
}
.peicon{
    background-color: #ffe0e3;
    color: #bd2130;
}
.sicon{
    color: #6582ed;
    background-color: #e2e8ff;
}
.f-icon i{
    margin-top: 13px;
    margin-left: 13px;
}
.feat-b{
    text-align: left;
}
.feat-b h2{
    color: black;
    font-weight: 700;
    font-size: 1.2em;

}
.feat-b p{
    font-size: 15px;
    line-height: 26.25px;
}

/* FEATURES ENDS */
/* VIDEO PROMO CSS */
.video_promo{
background-image: url('/images/video.jpg');
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-position: center;
position: relative;
}
.v_promo{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video_promo::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
}
.play_mygtukas{
    position: relative;
    z-index: 1;
    background-color: white;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 1.3s infinite;
}
@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(255, 247, 247, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.00);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(250, 245, 245, 0);
	}
}
.play_mygtukas a{
    color: #2284ed;

}
.d_mygtukas{
    width: 174px;
    height: 48px;
    border: 1px solid white;
    border-radius: 25px;
    margin-left: 20px;
    text-align: center;
}
.baltas_textas{
    color: white;
    font-size: 1.25em;
    font-weight: 700;
    margin: 35px 0 45px 0;
}
.android, .apple:hover{
    background-color: white;
    color: #9629e6;
    transition: 0.2s;
}
.apple, .android:hover{
    background-color: transparent;
    color: white;
    transition: 0.4s;
}
.d_mygtukas div{
    margin-top: 12px;
}
.play_mygtukas i {
    margin-top: 12px;
    margin-left: 12px;
}
/* PRICING CSS */
.pricing{
    position: relative;
}
.pricing::before{
    content: "";
    background-image: url("/images/pricing_bg.svg");
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top right;

}
.pricing_top{
    flex-direction: column;
    text-align: center;
}
.pricing_korta{
    width: 350px;
    height: 530px;
    padding: 45px;
    border: 1px solid rgba(128, 128, 128, 0.241);
    border-radius: 15px;
    text-align: center;
    flex-direction: column;
    position: relative;
    background-color: white;
}
.pricing_korta:hover{
    box-shadow: 0px 0px 0 1px #b9b9b9;
    border-top: 4px solid rgb(103, 48, 227) ;
}
.pricing_korta h3{
    font-size: 1,2em;
    color: black;
    margin: 0 0 1rem;
    line-height: 1,21;
    font-weight: 700;
}
.pricing_korta ul{
    list-style: none;
    padding: 0px;
    font-size: 14px;
    color: rgb(132, 146, 166);
    line-height: 28px;
}
.pricing_korta span{
    color: #9629e6;
    font-size: 37px;
    font-weight: 700;
    line-height: 45px;
    margin: 12px 0;
}

.kortos_ikona img{
    width: 65px;
    height: 65px;
    margin: 8px 0;
}
.pricing_buynow{
    width: 150px;
    height: 43px;
    border: 2px solid rgb(103, 48, 227);
    border-radius: 25px;
    background-color: white;
    color: rgb(103, 48, 227);
    padding-top: 10px;
}
.standart_purchase, .pricing_buynow:hover{
    background-color: rgb(103, 48, 227);
    color: white;
    transition: 450ms;
}
.standart_purchase:hover{
    background-color: white;
    color: rgb(103, 48, 227);
    transition: all 500ms ease;
}
.pricing_korta:nth-child(2){
    box-shadow: 0px 0px 0 1px #b9b9b9;
    border-top: 4px solid rgb(103, 48, 227) ;
}
.pricing_korta:nth-child(2):hover{
    border-radius: 30px;
    transition: all 300ms ease;
}
.pricing_contact{
    text-align: center;
    color: rgb(112, 112, 112);
    font-size: 15px;
    margin: 40px 0;
    padding-bottom: 200px;
}
.pricing_contact a{
    color: #9629e6; ;
    text-decoration: none;}
    .apacia{
        gap: 150px;
    }
.pricing_left{
    flex-direction: column;
}
.pricing_left h1{
    color: black;
    font-size: 2.0em;
    margin: 0 0 1rem;
    font-weight: 600;
    line-height: 1.21;
}
.pricing_left p{
    font-size: 1.25em;
    font: 300px;
    margin-bottom: 1.25em;
    color: rgb(112, 112, 112);
}
.card_icons{
    gap: 60px;
}
.card_icons img{
    width:85px;
    height: 28px;
}
.card_icons img:hover{
    scale: 1.2;
    transition: all 300ms ease-in-out;
}

.pricing_right-top h2{ color: black;
    font-size: 1.25em;
    padding:  25px 0 0;
    margin: 0;
}
.pricing_right-top p{
    margin: 0;
    padding: 0;
    color: #707070;
}
.pricing_right-top img{
    border: 0px transparent solid;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 15px;
}
.pricing_right-bot img{
    width: 26px ;
    height: 22px;
}
.pricing_right-bot p{
    color: #707070;
    font-size: 15px;
    line-height: 26.25px;
}
.pricing_right-bot2 button{
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 50%;
    color:  #9629e6;
    border: 1px solid rgba(0, 0, 0, 0.136);
    font-weight: 600;
}
.pricing_right-bot2 button:hover{
    background-color:#9629e6;
    color: white;
}